Checks: '-*,cppcoreguidelines-*,clang-analyzer-*,modernize-*,performance-*,-modernize-use-trailing-return-type'
WarningsAsErrors: '-*,cppcoreguidelines-*,clang-analyzer-*,modernize-*,performance-*,-modernize-use-trailing-return-type'
