* text=auto

*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.ixx text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.py text eol=lf
*.sh text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.gitmodules text eol=lf
.clang-format text eol=lf
.clang-tidy text eol=lf
.pre-commit-config.yaml text eol=lf
*.yml text eol=lf

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf

*.lib binary
*.dll binary
*.dylib binary
*.so binary
*.a binary
*.png binary
